.u-visually-hidden {
  display: none !important;
  visibility: hidden !important;
}

.u-center-text {
  text-align: center !important;
}

div:after, .u-clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.u-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.u-focus, .js-is-focused {
  @include focus;
}
