<header class="o-header">
  <section class="o-header__msu">
    {% include "molecules-msu-masthead-link" %}
    {% include "molecules-msu-search" %}
  </section>
  <h1 class="o-header__site-name">Sustainable Agriculture and Food Systems</h1>
  {% include "molecules-primary-nav" %}
</header>
