<article class="card" style="max-width: 300px;">
  <div class="img-top w-50 mx-auto">
    {% include "atoms-safs-icon" %}
  </div>
  <section class="card-body">
    <h4 class="card-title text-center">Economic</h4>
    <p class="card-text">{{ excerpt.medium }}</p>
  </section>

</article>
