<section class="jumbotron jumbotron-fluid">
  <div class="container">
    <p class="lead">The Sustainable Agriculture and Food Systems (SAFS) undergraduate minor fosters active learning about agriculture and food systems. Agriculture, the science of farming, provides us with the food and fibers that we need.</p>
  </div>
</section>
