.m-media-block {
  border: 4px solid $color-yellow-green;
  max-width: 16rem;
  margin: $space-inline-l;
  padding: $space-inset-m;
}

.m-media-block__image__link {
  display: block;
  margin: 0 auto $space-s;
  max-width: 150px;
  max-height: 150px;
  text-align: center;
}

.m-media-block__summary {
  margin: $space-stack-s;
}
