<h4>Brand Colors</h4>
<ul>
  <li>$color-brand-primary:   $color-blue-green;</li>
  <li>$color-brand-success:   $color-green-contrast;</li>
  <li>$color-brand-info:      $color-blue-contrast;</li>
  <li>$color-brand-warning:   $color-yellow-green-contrast;</li>
  <li>$color-brand-danger:    $color-red-contrast;</li>
</ul>

<h4>Color helpers</h4>
<ul>
  <li>$color-text: #444;</li>
  <li>$color-gray-light: $color-gray-90;</li>
  <li>$color-link: $color-green-contrast;</li>
  <li>$color-link--hover: shade($color-link, 40%);</li>
</ul>
