<!--https://mijingo.com/blog/key-value-arrays-in-twig-->

{% set nav_links = {
    about:      { slug: "#", title: "About" },
    resources:  { slug: "#", title: "Resources" },
    reqs:       { slug: "#", title: "Minor Requirements" },
    blog:       { slug: "#", title: "Blog" },
    contact:    { slug: "#", title: "Contact" }
} %}

{% set navclass = "navbar-nav mr-2" %}

<nav style="flex-basis:100%;" role="navigation" aria-labelledby="mainmenulabel">
  <h2 class="sr-only" id="mainmenulabel">Main Menu</h2>
  <ul class="{{ navclass }}">
    <li class="nav-item">
      <a class="nav-link pl-md-0" href="{{ siteUrl }}" aria-label="Home">
        <span class="icon-home">Home</span>
      </a>
    </li>
    {% for item in nav_links %}
    <li class="nav-item">
      <a class="nav-link" href="{{ item.slug }}">{{ item.title }}</a>
    </li>
    {% endfor %}
  </ul>
</nav>
