<nav id="standard-footer-site-links" role="navigation" aria-labelledby="siteinfolabel">
  <h2 id="siteinfolabel" class="sr-only">Website Information</h2>
  <ul class="nav msu-nav">
    <li class="nav-item"><span class="nav-link">Call us: <strong>(517) 355-7505</strong></span></li>
    <li class="nav-item"><a class="nav-link" href="/contact">Contact Information</a></li>
    <li class="nav-item"><a class="nav-link" href="/site-map">Site Map</a></li>
    <li class="nav-item"><a class="nav-link" href="/privacy-statement">Privacy Statement</a></li>
    <li class="nav-item"><a class="nav-link" href="/accessibility">Site Accessibility</a></li><li><li>
  </ul>
</nav>
