<nav class="m-nav m-website-info">
  <ul class="m-nav__list">
    <li class="m-nav__item">Call us: <strong>(517) 355-7505</strong></li>
    <li class="m-nav__item"><a href="/contact">Contact Information</a></li>
    <li class="m-nav__item"><a href="/site-map">Site Map</a></li>
    <li class="m-nav__item"><a href="/privacy-statement">Privacy Statement</a></li>
    <li class="m-nav__item"><a href="/accessibility">Site Accessibility</a></li>
  </ul>
</nav>
