<nav class="m-nav m-msu-nav">
  <ul class="m-nav__list">
    <li class="m-nav__item">Call MSU: <a href="tel:517-355-1855"><strong>(517) 355-1855</strong></a></li>
    <li class="m-nav__item">Visit: <strong><a href="http://msu.edu">msu.edu</a></strong></li>
    <li class="m-nav__item">MSU is an affirmative-action, equal-opportunity employer.</li>
    <li class="m-nav__item"><a href="http://oie.msu.edu/"><strong>Notice of Nondiscrimination</strong></a></li>
  </ul>
</nav>

<div class="m-nav m-msu-info">
  <ul class="m-nav__list">
    <li class="m-nav__item"><span class="spartans-will">Spartans Will.</span></li>
    <li class="m-nav__item">&copy; Michigan State University</li>
  </ul>
</div>
