<section id="standard-footer-msu-info">
  <nav role="navigation" aria-labelledby="msuinfolabel">
    <h2 id="msuinfolabel" class="sr-only">MSU Information</h2>
    <ul class="nav msu-nav">
      <li class="nav-item"><span class="nav-link">Call MSU: <a href="tel:517-355-1855"><strong>(517) 355-1855</strong></a></span></li>
      <li class="nav-item"><span class="nav-link">Visit: <strong><a href="http://msu.edu">msu.edu</a></strong></span></li>
      <li class="nav-item"><span class="nav-link">MSU is an affirmative-action, equal-opportunity employer.</span></li>
      <li class="nav-item"><a class="nav-link" href="http://oie.msu.edu/"><strong>Notice of Nondiscrimination</strong></a></li>
    </ul>
  </nav>

  <ul class="nav msu-nav">
    <li class="nav-item"><span class="text-uppercase font-weight-bold">Spartans Will.</span></li>
    <li class="nav-item">&copy; Michigan State University</li>
  </ul>
</div>
