// Body
//
// Settings for the `<body>` element.

$body-bg:       $white !default;
$body-color:    $gray-900 !default;

// Links
//
// Style anchor elements.

$link-color:            theme-color('primary');
$link-decoration:       none !default;
$link-hover-color:      darken($link-color, 15%);
$link-hover-decoration: underline !default;
