<form class="m-form--search" id="globalsearch-form">
  <input type="hidden" name="client" value="{{ siteName }}">
  <input type="hidden" name="sitesearch" value="{{ siteUrl }}" />

  <label class="u-sr-only" for="globalsearch" >Search MSU</label>

  <input class="m-form--search__input" type="text" accesskey="4" id="globalsearch" name="q"  placeholder="Search">

  <button class="m-form--search__button" type="submit" aria-label="Search">
    <span class="icon-search"></span>
  </button>

</form>
