<div><a href="#" class="btn btn-primary">Primary</a></div>
<div><a href="#" class="btn btn-secondary">Secondary Button</a></div>
<div><a href="#" class="btn btn-primary btn-lg">Large Button</a></div>
<div><button type="button">Button Element with no classes</button></div>
<div><button type="button" class="btn btn-primary">Button Element with btn-primary class</button></div>
