<div><a href="#" class="a-button">Button</a></div>
<div><a href="#" class="a-button a-button--alt">Alternate Button</a></div>
<div><a href="#" class="a-button a-button--large">Large Button</a></div>
<div><a href="#" class="a-button a-button--disabled">Disabled Button</a></div>
<div><button type="button">Button Element with no classes</button></div>
<div><button type="button" class="a-button">Button Element with a-button class</button></div>
