.a-button, .a-label {
  border: none;
  border-radius: $border-radius;
  color: $color-white;
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  line-height: 1;
  margin: $space-inline-m;
  padding: $space-inset-s;
  &:hover, &:active, &:focus {
    @include no-focus;
    color: $color-white;
    text-decoration: none;
  }
}

.a-button {
  @include background($color-brand-primary);
}

.a-button--alt {
  @include background($color-brand-secondary);
}

.a-button--disabled {
  cursor: not-allowed;
  @include background($color-gray-msu);
}

.a-button--large {
  padding: $space-inset-m;
}

.a-label {
  display: inline;
  font-size: $font-size-s;
  margin: $space-inline-s;
  padding: $space-inset-squish-xs;
  @include background($color-brand-primary);
}
