<blockquote class="m-blockquote">
	<p>A block quotation (also known as a long quotation or extract) is a quotation in a written document, that is set off from the main text as a paragraph, or block of text, and typically distinguished visually using indentation and a different typeface or smaller size quotation.</p>
	<footer class="m-blockquote__footer">
		<cite class="m-blockquote__cite">Katie Fritz, Web Developer at <a href="http://katiemfritz.com">Katie M Fritz, LLC</a></cite>
	</footer>
</blockquote>
