<footer class="o-footer">
  <section class="o-footer__navs">
    {% include "molecules-website-info-nav" %}
    {% include "atoms-hr-msu" %}
    {% include "molecules-msu-info-nav" %}
  </section>
  <section class="o-footer__wordmark">
      {% include "molecules-msu-wordmark-link" %}
    </section>
</footer>
