{% extends "templates-site" %}

{% block content %}

  {% include "molecules-jumbotron-text" %}

  <section>
    <h2 class="a-section-heading--blue-green">Latest Blog Posts</h2>
    {% include "organisms-card-deck" %}
  </section>

  <section>
    <h2 class="a-section-heading--purple">What is sustainability?</h2>
    {% include "organisms-blurb-deck" %}
  </section>

{% endblock %}
